/*------------- layout ----------------*/
html {
  height: 199%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100%;
  font-family: Verdana, Arial;
  padding: 0;
  margin: 0; }

.container {
  width: 100%;
  max-width: 1024px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (min-width: 481px) {
    .row {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }

/*-------------header---------------*/
.header {
  border-top: 3px solid #000;
  padding: 10px 0 0 0; }
  .header__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__row_bottom {
      display: none; }
  .header__logo {
    -webkit-flex-basis: 86px;
        -ms-flex-preferred-size: 86px;
            flex-basis: 86px;
    padding-left: 9px; }
  .header__mobile-dropdown {
    display: none; }
  @media (min-width: 481px) {
    .header__row_bottom {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.header__mobile-dropdown_open {
  display: block;
  background-color: #fff; }

/* .header {
    background: url(../img/tmp1.jpg) 50% -3px no-repeat;
} */
/*-------------catalog-menu---------------*/
.catalog-menu {
  display: none; }
  @media (min-width: 481px) {
    .catalog-menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 2px;
      -webkit-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
              box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
      background: -webkit-gradient(linear, left top, right top, color-stop(60%, #f1f1f1), color-stop(40%, transparent));
      background: -webkit-linear-gradient(left, #f1f1f1 60%, transparent 40%);
      background: -o-linear-gradient(left, #f1f1f1 60%, transparent 40%);
      background: linear-gradient(90deg, #f1f1f1 60%, transparent 40%);
      background-color: #e9e9e9;
      -webkit-background-size: 5px 2px;
              background-size: 5px 2px;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      margin-left: 30px; }
      .catalog-menu__list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 0px auto;
        padding: 0; }
      .catalog-menu__item {
        list-style: none; }
      .catalog-menu__link {
        display: block;
        font-size: 11px;
        text-transform: uppercase;
        color: #000;
        text-decoration: none;
        padding: 5px 11px 4px;
        font-family: Arial;
        font-weight: 600;
        border: 4px solid transparent;
        white-space: nowrap;
        -webkit-transition: color 0.3s;
        -o-transition: color 0.3s;
        transition: color 0.3s; } }
  .catalog-menu .catalog-menu__link_active {
    background: #fff;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    border: 4px solid #000; }
  .catalog-menu .catalog-menu__link:hover {
    color: #e10025; }

/*-------------main-menu---------------*/
.main-menu {
  display: none; }
  @media (min-width: 769px) {
    .main-menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .main-menu__list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-left: 0;
        margin-right: auto; }
      .main-menu__item {
        list-style: none; }
      .main-menu__link {
        font-size: 12px;
        color: #000;
        text-decoration: none;
        padding: 0 9px;
        -webkit-transition: color 0.3s;
        -o-transition: color 0.3s;
        transition: color 0.3s; } }

.main-menu__link:hover {
  color: #e10025; }

/*-------------service-menu---------------*/
.service-menu {
  display: none; }
  @media (min-width: 769px) {
    .service-menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .service-menu__list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      .service-menu__item {
        list-style: none; }
      .service-menu__link {
        font-size: 0px;
        text-indent: -999px;
        overflow: hidden;
        display: inline-block;
        width: 28px;
        height: 28px;
        color: #000;
        text-decoration: none; }
        .service-menu__link_search {
          background: url(../img/ico.png) 0 -71px no-repeat; }
        .service-menu__link_map {
          background: url(../img/ico.png) 0 -152px no-repeat; } }

/*-------------mobile-menu-button---------------*/
.mobile-menu-button {
  display: none; }
  @media (max-width: 769px) {
    .mobile-menu-button {
      background-color: #f2f2f2;
      border: 0 none;
      display: block;
      height: 50px;
      padding: 0;
      position: relative;
      text-decoration: none;
      min-width: 50px;
      -webkit-flex-basis: 50px;
          -ms-flex-preferred-size: 50px;
              flex-basis: 50px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border: 2px solid #ccc; }
      .mobile-menu-button__bar {
        background-color: #000;
        height: 2px;
        left: 50%;
        margin-left: -12px;
        margin-top: 15px;
        position: absolute;
        transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
        width: 24px; } }

.mobile-menu-button__bar_top {
  top: 0; }

.mobile-menu-button__bar_middle {
  top: 8px; }

.mobile-menu-button__bar_bottom {
  top: 16px; }

.mobile-menu-button_active .mobile-menu-button__bar_top {
  top: 7px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s; }

.mobile-menu-button_active .mobile-menu-button__bar_middle {
  opacity: 0;
  -webkit-transition: opacity .3s ease 0s;
  -o-transition: opacity .3s ease 0s;
  transition: opacity .3s ease 0s; }

.mobile-menu-button_active .mobile-menu-button__bar_bottom {
  top: 7px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s; }

/*-------------logo-text---------------*/
.logo-text__address {
  font-family: Verdana, Arial;
  font-weight: 600;
  font-size: 21px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  margin-left: 11px; }

.logo-text__map-link {
  display: none;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #e10025;
  position: relative;
  font-family: Arial, Verdana;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }
  .logo-text__map-link:before {
    content: "";
    bottom: -1px;
    height: 1px;
    left: 50%;
    position: absolute;
    right: 50%;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: left, right,color;
    -o-transition-property: left, right,color;
    transition-property: left, right,color;
    -webkit-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    z-index: 1;
    background: #fff; }

@media (min-width: 769px) {
  .logo-text__map-link {
    display: inline-block; } }

.logo-text_top {
  display: none; }

@media (max-width: 480px) {
  .logo-text_top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

/*state*/
.logo-text__map-link:hover {
  color: #e10025; }
  .logo-text__map-link:hover::before {
    left: 0;
    right: 0; }

/*-------------header-contacts-----------------*/
.header-contacts {
  display: none; }
  @media (min-width: 481px) {
    .header-contacts {
      padding-left: 36px;
      background: url(../img/ico.png) 0 11px no-repeat;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .header-contacts__phone {
        font-family: Verdana;
        font-size: 18px;
        color: #000;
        font-weight: 600;
        text-decoration: none;
        -webkit-transition: color 0.3s;
        -o-transition: color 0.3s;
        transition: color 0.3s; }
      .header-contacts__mail {
        display: none; } }
  @media (min-width: 769px) {
    .header-contacts__mail {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      font-size: 12px;
      text-decoration: none;
      border-bottom: 1px dotted #e10025;
      color: #000; } }

.header-contacts__mail:hover {
  border-bottom: 0px; }

.header-contacts__phone:hover {
  color: #e10025; }

/*-------------main-block---------------*/
.main-block {
  padding-top: 30px; }

/*-------------goods-list---------------*/
.goods-list {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%; }
  @media (min-width: 769px) {
    .goods-list {
      -webkit-flex-basis: 65%;
          -ms-flex-preferred-size: 65%;
              flex-basis: 65%;
      max-width: 65%; } }
  @media (min-width: 1025px) {
    .goods-list {
      -webkit-flex-basis: 75%;
          -ms-flex-preferred-size: 75%;
              flex-basis: 75%;
      max-width: 75%; } }

/*-------------goods-card---------------*/
.goods-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 45px 0; }
  .goods-card__description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .goods-card__title {
    font-size: 53px;
    font-family: Verdana;
    font-weight: 600; }
  .goods-card__price {
    font-size: 21px;
    font-family: Verdana;
    font-weight: 600; }
  .goods-card__link-more-wrap {
    position: relative;
    padding-right: 25px; }
    .goods-card__link-more-wrap::before {
      content: "";
      position: absolute;
      top: 7px;
      right: 3px;
      display: block;
      width: 15px;
      height: 15px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #e10025; }
    .goods-card__link-more-wrap::after {
      content: "";
      position: absolute;
      top: 11px;
      right: 8px;
      display: block;
      width: 4px;
      height: 4px;
      border: 3px solid #fff;
      border-width: 3px 3px 0 0;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
  .goods-card__link-more {
    font-size: 14px;
    font-family: Verdana;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #e10025; }
  .goods-card__img-wrap {
    text-align: center; }
  .goods-card__img {
    max-width: 100%; }
  @media (min-width: 1025px) {
    .goods-card {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .goods-card__description {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
        -webkit-flex-basis: 44.44%;
            -ms-flex-preferred-size: 44.44%;
                flex-basis: 44.44%;
        max-width: 44.44%; }
      .goods-card__img-wrap {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
        -webkit-flex-basis: 55.55%;
            -ms-flex-preferred-size: 55.55%;
                flex-basis: 55.55%;
        max-width: 55.55%; } }

.goods-card__link-more:hover {
  border-bottom: 0; }

/*-------------order-forms---------------*/
.order-forms {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%; }
  @media (min-width: 769px) {
    .order-forms {
      -webkit-flex-basis: 35%;
          -ms-flex-preferred-size: 35%;
              flex-basis: 35%;
      max-width: 35%; } }
  @media (min-width: 1025px) {
    .order-forms {
      -webkit-flex-basis: 25%;
          -ms-flex-preferred-size: 25%;
              flex-basis: 25%;
      max-width: 25%; } }

/*-------------footer-----------------*/
.footer {
  position: relative;
  background-color: #282727;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px; }

/*-------------footer-nav-----------------*/
.footer-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .footer-nav__col-link {
    color: #fff;
    font-size: 12px;
    font-family: Arial;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
    text-decoration: none; }
  .footer-nav__list {
    list-style: none;
    padding-left: 0;
    margin: 0; }
  .footer-nav__item {
    margin-bottom: 10px; }
  .footer-nav__link {
    color: #fff;
    font-size: 12px;
    font-family: Arial;
    font-weight: 400;
    margin-bottom: 10px;
    display: block;
    text-decoration: none; }
  .footer-nav__col {
    -webkit-flex-basis: 33.33%;
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
    max-width: 33.33%; }
  @media (min-width: 769px) {
    .footer-nav {
      -webkit-flex-basis: 75%;
          -ms-flex-preferred-size: 75%;
              flex-basis: 75%;
      max-width: 75%;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; } }
  @media (min-width: 1025px) {
    .footer-nav {
      -webkit-flex-basis: 83.33%;
          -ms-flex-preferred-size: 83.33%;
              flex-basis: 83.33%;
      max-width: 83.33%; } }

/*-------------soc-ico---------------*/
.soc-ico {
  padding: 0 0 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: 100%;
      -ms-flex-direction: 100%;
          flex-direction: 100%;
  max-width: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .soc-ico__soc-youtube {
    margin-left: 5px; }
  .soc-ico__soc-fb {
    margin-left: 5px; }
  .soc-ico__soc-twitter {
    margin-left: 5px; }
  .soc-ico__soc-vk {
    margin-left: 5px; }
  @media (min-width: 769px) {
    .soc-ico {
      -webkit-flex-basis: 25%;
          -ms-flex-preferred-size: 25%;
              flex-basis: 25%;
      max-width: 25%;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; } }
  @media (min-width: 1025px) {
    .soc-ico {
      -webkit-flex-basis: 16.66%;
          -ms-flex-preferred-size: 16.66%;
              flex-basis: 16.66%;
      max-width: 16.66%; } }

.soc-youtube {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/ico.png) 0 -215px no-repeat; }

.soc-fb {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/ico.png) 0 -265px no-repeat; }

.soc-twitter {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/ico.png) 0 -311px no-repeat; }

.soc-vk {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/ico.png) 0 -356px no-repeat; }

/*-------------copyright-row---------------*/
.copyright-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: 100%;
      -ms-flex-direction: 100%;
          flex-direction: 100%;
  min-width: 100%;
  border-top: 1px solid #fff;
  padding-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }
  .copyright-row__company {
    font-size: 10px;
    font-family: Verdana; }
  .copyright-row__copyright {
    font-size: 10px;
    font-family: Verdana; }

.demo-dropdown {
  margin-top: 2px;
  padding: 0 15px;
  overflow: auto;
  color: #000;
  background: #ccc; }

.demo-header {
  padding: 10px 20px;
  border: 0;
  color: #000;
  text-decoration: none;
  background: #ccc;
  font-weight: bold;
  font-size: 18px; }

.demo-header:hover {
  color: #999; }

.demo-dropdown {
  -webkit-transition: max-height .5s, padding .5s;
  -o-transition: max-height .5s, padding .5s;
  transition: max-height .5s, padding .5s;
  max-height: 0; }

.collapse-wrap.open .demo-dropdown {
  max-height: 1500px;
  padding: 15px; }
