.footer {
  background: red; }

body {
  color: #333;
  background: #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 2px;
          border-radius: 2px; }
