/*-------------catalog-menu---------------*/
.catalog-menu {
  display: none;
  @media (min-width: $screen-sm-min) {
    display: flex;
    padding: 2px; 
    box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.17);
    background: linear-gradient( 90deg, #f1f1f1 60%,transparent 40%);
    background-color: #e9e9e9;
    background-size: 5px 2px;
    border-radius: 30px;
    margin-left: 30px;
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0px auto;
      padding: 0;
    }
    &__item {
      list-style: none;   
    }
    &__link {
      display: block;
      font-size: 11px;
      text-transform: uppercase;
      color: #000;
      text-decoration: none;
      padding: 5px 11px 4px;
      font-family: Arial;
      font-weight: 600;
      border: 4px solid transparent;
      white-space: nowrap;
      transition: color 0.3s;
    }
  }
  .catalog-menu__link {
    &_active {
      background: #fff;
      border-radius: 20px;
      border: 4px solid #000;
    }
    &:hover {
      color: $link-color;
    }    
  }
}