/*-------------goods-card---------------*/
.goods-card {
  display: flex;
  flex-direction: column;
  padding: 45px 0;
  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__title {
    font-size: 53px;
    font-family: Verdana;
    font-weight: 600;
  }  
  &__price {
    font-size: 21px;
    font-family: Verdana;
    font-weight: 600;
  }
  &__link-more-wrap {
    position: relative;
    padding-right: 25px;
    &::before {
      content: "";
      position: absolute;
      top: 6px;
      right: 3px;
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $link-color;
    }
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      right: 8px;
      display: block;
      width: 4px;
      height: 4px;
      border: 3px solid #fff;
      border-width: 3px 3px 0 0;
      transform: rotate(45deg);
    }
  }
  &__link-more {
    font-size: 14px;
    font-family: Verdana;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid $link-color;
    position: relative;
    overflow-x: hidden;
    display: block;
  }
  &__img-wrap {
    text-align: center;
  }
  &__img {
    max-width: 100%;
  }
  @media (min-width: $screen-md-min) { 
    flex-direction: row;
    align-items: center;
    &__description {
      display: flex;
      order: 1;
      flex-basis: 44.44%;
      max-width: 44.44%; 
    }
    &__img-wrap {
      order: 2;
      flex-basis: 55.55%;
      max-width: 55.55%;
    }
  }
}


.goods-card__link-more {
  &::before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    width: 0%;
    height: 1px;
    border-radius: 5px;
    background: $link-color;
  }
  &:hover {
    border-bottom-color: #fff;    
  }
  &:hover::before {
    animation: underline 1s linear;
  }
}

@keyframes underline {
  0% {
    width: 0%;
    left: 0%;
    right: 100%;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 0%;
    left: 100%;
    right: 100%;
  }
}

