/*-------------header---------------*/
.header {
    border-top: 3px solid #000;
    padding: 10px 0 0 0;
    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &_bottom {
            display: none;
        }
    }
    &__logo {
        flex-basis: 86px;
        padding-left: 9px;
    }
    &__mobile-dropdown {
        display: none;
    }
    @media (min-width: $screen-xs-min) {
        &__row {
           &_bottom {
               display: flex;
           }
        }
    }    
}
.header__mobile-dropdown {
    &_open {
        display: block;
        background-color: #fff;
    }
}
/* .header {
    background: url(../img/tmp1.jpg) 50% -3px no-repeat;
} */