/*-------------header-mobile-dropdown---------------*/
.header-mobile-dropdown {
  display: none;
}

.header-mobile-dropdown {
  &_open {
    display: block;
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-width: 2px 0 2px 0;
    position: absolute;
    width: 100%;
    left: 0px;
    box-sizing: border-box;
    height: calc(100vh - 90px);
    overflow: scroll;
    z-index: 1;
    @media (max-width: $screen-sm-max ) and (orientation: landscape) {
      max-height: calc(100vw - 130px);
      overflow-y: scroll;
      padding-bottom: 30px;
      border-bottom: 2px solid red;
    }
  }
}