/*-------------logo-text---------------*/
.logo-text {
    &__address {
        font-family: Verdana, Arial;
        font-weight: 600;
        font-size: 21px;
        text-transform: uppercase;
        color: #000;
        text-decoration: none;
        white-space: nowrap;
        margin-left: 11px;
    }
    &__map-link {
        display: none;
        font-size: 12px;
        color: #000;
        text-decoration: none;
        border-bottom: 1px solid #e10025;
        position: relative;
        font-family: Arial, Verdana;
        transition: color 0.3s;
        &:before {
            content: "";
            bottom: -1px;
            height: 1px;
            left: 50%;
            position: absolute;
            right: 50%;
            transition-duration: 0.3s;
            transition-property: left, right,color;
            transition-timing-function: ease-out;
            z-index: 1;
            background: #fff;            
        }
    }
    @media (min-width: $screen-sm-min) {
        &__map-link {
            display: inline-block;
        }
    }    
}

.logo-text {
    &_top {
        display: none;
    }    
    @media (max-width: $screen-xs-max) {
        &_top {
            display: flex;
        }
    }
}

/*state*/
.logo-text__map-link {
    &:hover {
        color: $link-color;
        &::before {
            left: 0;
            right: 0;
          }
    }
}
