/*-------------logo-text---------------*/
.logo-text {
    display: block;
    overflow-x: hidden;
    &__address {
        font-family: Verdana, Arial;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        color: #000;
        text-decoration: none;
        white-space: nowrap;
        margin-left: 11px;
        transition: color 0.3s;
        @media (min-width: 590px) {
            font-size: 21px;
        }     
    }
    &__map-link {
        display: none;
        font-size: 12px;
        color: #000;
        text-decoration: none;
        border-bottom: 1px solid #e10025;
        position: relative;
        font-family: Arial, Verdana;
        transition: color 0.3s;
        &:before {
            content: "";
            bottom: -1px;
            height: 1px;
            left: 50%;
            position: absolute;
            right: 50%;
            transition-duration: 0.3s;
            transition-property: left, right,color;
            transition-timing-function: ease-out;
            z-index: 1;
            background: $link-color;            
        }
    }
    
    @media (min-width: $screen-sm-min) {
        &__map-link {
            display: inline-block;
        }
    }   
}

.logo-text {
    &_top {
        display: none;
    }    
    @media (max-width: $screen-xs-max) {
        &_top {
            display: flex;
            margin-right: auto;
        }
    }
    
}

/*state*/
.logo-text__map-link {
    &:hover {
        color: $link-color;
        border-bottom-color: #fff;
        &::before {
            animation: underline 1s linear;
        }
    }
}
.logo-text__address {
    &:hover {
        color: $link-color;        
    }
}

@keyframes underline {
  0% {
    width: 0%;
    left: 0%;
    right: 100%;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 0%;
    left: 100%;
    right: 100%;
  }
}
