/*-------------main-menu---------------*/
.main-menu {
  display: none;
  @media (min-width: $screen-sm-min) {
    display: flex;
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__item {
      list-style: none;
    }
    &__link {
      font-size: 12px;
      color: #000;
      text-decoration: none;
      padding: 0 10px;
    }
  }
}