/*-------------main-menu---------------*/
.main-menu {
  display: none;
  @media (min-width: $screen-sm-min) {
    display: flex;
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 0;
      margin-right: auto;
    }
    &__item {
      list-style: none;
    }
    &__link {
      font-size: 12px;
      color: #000;
      text-decoration: none;
      padding: 0 9px;
      transition: color 0.3s;
    }
  }
}
.main-menu__link {  
  &:hover {
    color: $link-color;
  }
  &_active {
    color: $link-color;
  }
}