/*-------------mobile-catalog-menu---------------*/
.mobile-catalog-menu {
    border-bottom: 1px solid #ccc;
    &__list {
        list-style: none;
        padding: 10px 40px;
        margin: 0;
    }
    &__item {
        margin-bottom: 2px;
    }
    &__link {
        color: #000;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.3s;
    }
}
.mobile-catalog-menu__link {
    &:hover {
        color: $link-color;
    }
}