/*-------------model-row---------------*/
.model-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 35px;
  flex-wrap: wrap;
  
  @media (min-width: $screen-sm-min) {
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    padding: 4px 10px;
    margin: 0 5px 10px;
    text-decoration: none;
    justify-content: space-between;
    border-radius: 7px;
    background: #fff;
  }
  &__header {
    display: flex;
    justify-content: space-between;    
  }
  &__title {
    font-family: Arial;
    font-size: 14px;
    color: #000;
  }
  &__action {
    color: #e17838;
    font-size: 12px;
  }
  &__img {
    max-width: 100%;
    min-width: 50px;
  }
  &__price {
    color: $link-color;
    font-size: 12px;
  }
}

.model-row__item {
  &:hover {
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  }
}