//common
$font-size:                16px;
$line-height:              1.5;
$font-weight:              400;


//layout
$container-max-width:      1280px;
$container-padding:        30px;
$screen-xs-min:            481px;
$screen-xs-max:            480px;
$screen-sm-min:            769px;
$screen-sm-max:            768px;
$screen-md-min:            1025px;
$screen-md-max:            1024px;
$screen-lg-min:            1281px;
$screen-lg-max:            1280px;


//links
$link-color:               #e10025;
$link-hover:               #b90101;
$link-active:              #af4ea4;
$link-visited:             #69015d;